<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 5 - Web Server</title>
    <link rel="stylesheet" href="\css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="\">Home</a>
      <a href="\about">About</a>
    </nav>
    <div id="content">
      <h1>About Car Seat Headrest</h1>
      <p style="font-size: 20px; max-width: 600px">
        Car Seat Headrest is an American indie rock band formed in Leesburg, Virginia, and currently
        located in Seattle, Washington. The band consists of Will Toledo (vocals, guitar, piano,
        synthesizers), Ethan Ives (guitar, bass, backing vocals), Seth Dalby (bass), and Andrew Katz
        (drums, percussion, backing vocals).
      </p>
      <p style="font-size: 20px; max-width: 600px">
        Beginning as a solo recording project by Toledo in 2010, Car Seat Headrest self-released 12
        projects on the music platform Bandcamp between 2010 and 2014 before signing to Matador
        Records in 2015. They began touring as a full band the following year.
      </p>
    </div>
  </body>
</html>
